<EditForm Model="signerAddress">
    <label>Signer address:</label>
    <InputText @bind-Value="signerAddress" />
    <button class="btn-sm btn-success" @onclick="DeployNewContract">Deploy New</button>
</EditForm>