<EditForm Model="contractAddress">
    <label>Contract address:</label>
    <InputText @bind-Value="contractAddress" />
    <button class="btn-sm btn-success" @onclick="LoadContract">Load</button>
</EditForm>

@code {

}
