<button class="btn-sm btn-success" @onclick="InitializeContract">Initialize Contract</button>
<br />
<span>Price (ETH):</span>
<EditForm Model="this">
    <InputNumber @bind-Value="contractPriceEth" />
</EditForm>