<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blockchain Auth IoT</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa fa-home mr-2" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wallet" Match="NavLinkMatch.All">
                <span class="fa fa-wallet mr-2" aria-hidden="true"></span> Wallet
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin" Match="NavLinkMatch.All">
                <span class="fa fa-user-shield mr-2" aria-hidden="true"></span> Admin
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="signer" Match="NavLinkMatch.All">
                <span class="fa fa-user mr-2" aria-hidden="true"></span> Signer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="queries" Match="NavLinkMatch.All">
                <span class="fa fa-globe mr-2" aria-hidden="true"></span> Queries
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="realtime" Match="NavLinkMatch.All">
                <span class="fa fa-clock mr-2" aria-hidden="true"></span> Realtime
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
