@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: Courier New, Courier, monospace;
    color: white;
    background-color: #222;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

input:not([type=checkbox]), textarea {
    background-color: #111;
    color: white;
    border: 1px solid black;
    padding: 3px 6px 3px 6px;
}

textarea {
    height: 150px;
}

select {
    margin-left: 5px !important;
    background-color: #111;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
}

hr {
    background-color: grey;
}

.btn-sm, .btn {
    color: black;
    font-weight: bold;
}

.sidebar {
    background-color: #111 !important;
    background-image: none !important;
    display: none; /* Remove this to display the sidebar */
}

h5 {
    color: orange;
}

h6 {
    color: yellow;
}