@page "/"

<h5>Contract Loading / Deployment</h5>
<EditForm Model="this">
    <label>Contract address:</label>
    <InputText @bind-Value="contractAddress" />
    <button class="btn-sm btn-success" @onclick="LoadContract">Load</button>
</EditForm>

<EditForm Model="this">
    <label>Signer address:</label>
    <InputText @bind-Value="signerAddress" />
    <button class="btn-sm btn-success" @onclick="DeployNewContract">Deploy New</button>
</EditForm>
<hr />

@if (AccessControl.ContractLoaded)
{
    <h5>Contract Management</h5>
    <span><b>Initialized:</b> @AccessControl.Initialized</span>
    <button class="btn-sm btn-success" @onclick="InitializeContract">Initialize Contract</button>
    <br />
    <hr />

    <h5>Admins</h5>
    <ul>
        @foreach (var admin in AccessControl.Admins)
        {
            <li>
                @admin
                <button class="btn-sm btn-danger" @onclick="(async () => await RemoveAdmin(admin))"><span class="oi oi-x"></span></button>
            </li>
        }
    </ul>

    <EditForm Model="this">
        <h6>Add new</h6>
        <label>Address:</label>
        <InputText @bind-Value="newAdmin" />
        <button class="btn-sm btn-success" @onclick="AddAdmin"><span class="oi oi-plus"></span> Add</button>
    </EditForm>
    <hr />

    <h5>On-Chain Policies</h5>
    <ul>
        @foreach (var ocp in AccessControl.OCPs)
        {
            <li>
                <b>Resource:</b> @ocp.Resource | <b>Start time:</b> @ocp.StartTime | <b>Expiration:</b> @ocp.Expiration
                <button class="btn-sm btn-success" @onclick="(async () => await GetOCPBoolParam(ocp))">Get Bool</button>
                <button class="btn-sm btn-success" @onclick="(async () => await GetOCPIntParam(ocp))">Get Int</button>
                <button class="btn-sm btn-success" @onclick="(async () => await GetOCPStringParam(ocp))">Get String</button>
                <button class="btn-sm btn-primary" @onclick="(async () => await SetOCPBoolParam(ocp))">Set Bool</button>
                <button class="btn-sm btn-primary" @onclick="(async () => await SetOCPIntParam(ocp))">Set Int</button>
                <button class="btn-sm btn-primary" @onclick="(async () => await SetOCPStringParam(ocp))">Set String</button>
            </li>
        }
    </ul>

    <EditForm Model="newOCP">
        <h6>Create new</h6>
        <label>Resource:</label>
        <InputText @bind-Value="newOCP.Resource" />
        <label>Start Time:</label>
        <InputDateTime @bind-Value="newOCP.StartTime" />
        <label>Expiration:</label>
        <InputDateTime @bind-Value="newOCP.Expiration" />
        <button class="btn-sm btn-success" @onclick="CreateOCP"><span class="oi oi-plus"></span> Create</button>
    </EditForm>
}