@page "/signer"

@if (AccountProvider.AccountLoaded)
{
    @if (AccessControl.ContractLoaded)
    {
        <h5>Information</h5>
        <ContractInfo />
        <hr />

        @if (!AccessControl.Signed)
        {
            <h5>Sign the contract</h5>
            <ContractSigner Signed="StateHasChanged" />
            <hr />
        }

        <h5>Admins</h5>
        <AdminManager />
        <hr />

        <h5>On-chain policies</h5>
        <OCPManager IsAdmin="false" />
        <hr />

        <h5>Policies</h5>
        <PolicyManager IsAdmin="false" />
        <hr />

        <h5>Proposals</h5>
        <ProposalManager IsAdmin="false" ProposalAccepted="StateHasChanged" />
        <hr />
    }
    else
    {
        <h5>Load a contract</h5>
        <ContractLoader OnLoaded="StateHasChanged" />
    }
}
else
{
    <span>Load your wallet first!</span>
}
